.personal {
    position: relative;
    text-align: center;
}

.personal__sign-up {
    position: absolute;
    left: 50px;
}


.personal__sign-in {
    position: absolute;
    left: 240px;
}


.sign-up__link {
    vertical-align: top;
}


.sign-in__link {
    vertical-align: top;
}

.registration {
    display: flex;
    justify-content: center;
}

.login {
	display: flex;
	justify-content: center;
}

.registration,
.login {
    flex-direction: column;
    align-items: center;
}

.button-div {
    height: 30%;
    align-items: center;

}

i {
    margin: 0 5px;
}