@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

@import url('./components/input-registration.css');
@import url('./components/button-registration.css');


 /* .header {background-color: green;}
.logo {background-color: pink;}
.title {background-color: yellow;}
.personal {background-color: red;}
.main{background-color: pink;}
.footer{background-color: blue;}

.main__center{background-color: wheat;}
.main__split-left{background-color: red;}
.main__center {background-color: wheat;}
.main__split-right {background-color: brown;}
.output-form {background-color: pink;}  */


body {
	margin: 0;
	padding: 0 80px;
  	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	font-weight: 700;
  	line-height: 30px;
	letter-spacing: 0em;
	color: #171717;
	background-color: #FFF9F5;
	box-sizing: border-box;
	overflow: hidden;
}

.text {
    font-family: 'Nunito';
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #171717;
    text-decoration: none;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

i {
	margin: 0 5px;
}

.title,
.personal,
.button-div,
.footer {
	display: flex;
	justify-content: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	/* height: 175px; */
    height: 100px;
	padding-top: 40px;
}

.logo {
	height: 150px;
    width: 420px;
}

.logo__link {
	display: flex;
	text-decoration: none;
}

.logo__icon {
	display: block;
}

.logo__text {
	width: 150px;
    margin: auto 0;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	color: #171717;
}

.title {
	width: 45%;
	/* margin-top: 44px; */
	font-size: 44px;
	line-height: 60px;
}

.personal {
	flex-direction: row;
	align-items: baseline;
	margin-top: 20px;
    width: 420px;
}

.footer {
    display: flex;
    justify-content: center;
	height: 70px;
}

.main {
	max-width: 2500px;
  	box-sizing: border-box;
	flex-grow: 70;
    justify-content: space-between;
}
